{% load static %}
<div>
  <h6>Getting Started:</h6>
  <ol>
    <li><b>Login/Register</b> with your credentials.</li>
    <li><b>Add Courses</b> with their objectives and outcomes.</li>
    <li><b>Map COs to POs</b> using the mapping tool.</li>
    <li><b>Upload Marks</b> for assessments.</li>
    <li><b>View Reports</b> to check CO/PO attainment instantly.</li>
  </ol>

  <hr>
  <h6>📂 Download Resources:</h6>
  <ul>
    <li><a href="{% static 'files/copodata.xlsx' %}" download>Download COPO Data (Excel)</a></li>
    <li><a href="{% static 'files/copo_mapping.xlsx' %}" download>Download COPO Mapping (Excel)</a></li>
  </ul>

  <p class="text-muted">Tip: You can find this guide anytime using the Help button in the top menu.</p>
</div>
