{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CO-PO Dashboard</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

  <!-- Top Navbar -->
  <header class="navbar">
    <div class="logo">CO-PO Calculator</div>
    <div>
        {% if user.is_authenticated %}
            <span class="username">Welcome {{ user.username }}</span>
            <a href="{% url 'logout' %}" class="btn" style="margin-left:16px;">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn" style="margin-left:16px;">Login</a>
        {% endif %}
        
     
      <a href="{% url 'register' %}" class="btn" style="margin-left:8px; background:#28a745;">Register</a>
    </div>
  </header>

  <!-- Sidebar -->
  <div class="sidebar">
    <a href="{% url 'register'%}">Dashboard</a>
    <a href="#">Add Course</a>
    <a href="#">Add CO</a>
    <a href="#">Add PO</a>
    <a href="#">CO-PO Mapping</a>
    <a href="#">Student Marks</a>
    <a href="#">Reports</a>
  </div>

  <!-- Page Content -->
  
<main>

    {% block content %}
    <!-- Default content can go here -->
    {% endblock %}

</main>
</body>
</html>

